# =========================
# Logging
# =========================
Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft_AspNetCore=Warning

# =========================
# Allowed Hosts
# =========================
AllowedHosts=*

# =========================
# JWT
# =========================
Jwt__Key=ChuaNghiRaKeyNuaNeChucBanGiaiDuoc8386A1b2C3d4E5f6G7h8I9j0K1l2M3n4O5
Jwt__Issuer=http://localhost:7001
Jwt__Audience=http://localhost:7001
Jwt__TokenExpiryMinutes=60

# =========================
# Database
# =========================
ConnectionStrings__DefaultConnection=Server=localhost;Port=3307;Database=HotelCatalog.TravelNow.Service;user=root;password=phucdai011;

# =========================
# Admin Account Seed
# =========================
AdminAccount__Email=admin@yourdomain.com
AdminAccount__Password=Password123!
AdminAccount__FullName=System Administrator

# =========================
# Email Settings
# =========================
EmailSettings__MailServer=
EmailSettings__MailPort=587
EmailSettings__SenderName=
EmailSettings__FromEmail=
EmailSettings__Password=
EmailSettings__DisplayName=TravelNow

# =========================
# Google OAuth
# =========================
Google__ClientId=PleaseForwardToGGCloudToGet
Google__ClientSecret=PleaseForwardToGGCloudToGet

# =========================
# Cloudinary
# =========================
Cloudinary__CloudName=
Cloudinary__ApiKey=
Cloudinary__ApiSecret=

# =========================
# RabbitMQ
# =========================
RabbitMQ__HostName=localhost
RabbitMQ__Port=5672
RabbitMQ__Username=ADMIN
RabbitMQ__Password=ADMIN
RabbitMQ__VirtualHost=/

# =========================
# Frontend
# =========================
Frontend__BaseUrl=http://localhost:5173
Frontend__ResetPasswordUrl=http://localhost:5173/reset-password
FrontendUrl=http://localhost:5173
