ConnectionStrings__DefaultConnection=Server=localhost;Port=3307;Database=Auth.TravelNow.Service;user=root;password=phucdai011;

# =========================
# Admin Account Seed
# =========================
AdminAccount__Email=admin@yourdomain.com
AdminAccount__Password=Password123!
AdminAccount__FullName=System Administrator

# =========================
# Email Settings
# =========================
EmailSettings__MailServer=
EmailSettings__MailPort=587
EmailSettings__SenderName=
EmailSettings__FromEmail=
EmailSettings__Password=
EmailSettings__DisplayName=TravelNow

# =========================
# Google OAuth
# =========================
Google__ClientId=
Google__ClientSecret=

# =========================
# Cloudinary
# =========================
Cloudinary__CloudName=
Cloudinary__ApiKey=
Cloudinary__ApiSecret=

# =========================
# RabbitMQ
# =========================
RabbitMQ__HostName=localhost
RabbitMQ__Port=5672
RabbitMQ__Username=ADMIN
RabbitMQ__Password=ADMIN
RabbitMQ__VirtualHost=/

# =========================
# Frontend
# =========================
Frontend__BaseUrl=http://localhost:5173
Frontend__ResetPasswordUrl=http://localhost:5173/reset-password
FrontendUrl=http://localhost:5173
