# =========================
# Logging
# =========================
Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft_AspNetCore=Warning

# =========================
# Allowed Hosts
# =========================
AllowedHosts=*

# =========================
# JWT
# =========================
Jwt__Key=ChuaNghiRaKeyNuaNeChucBanGiaiDuoc8386A1b2C3d4E5f6G7h8I9j0K1l2M3n4O5
Jwt__Issuer=http://localhost:7001
Jwt__Audience=http://localhost:7001
Jwt__TokenExpiryMinutes=60

# =========================
# Database
# =========================
ConnectionStrings__DefaultConnection=Server=localhost;Port=3307;Database=Payment.TravelNow.Service;user=root;password=phucdai011;

# =========================
# RabbitMQ
# =========================
RabbitMQ__HostName=localhost
RabbitMQ__Port=5672
RabbitMQ__Username=ADMIN
RabbitMQ__Password=ADMIN
RabbitMQ__VirtualHost=/

# =========================
# VNPAY
# =========================
VNPAY__TmnCode=
VNPAY__HashSecret=
VNPAY__BaseUrl=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY__CallbackUrl=https://localhost:7001/swagger/index.html
VNPAY__Version=2.1.0
VNPAY__OrderType=other

# =========================
# Service Fee
# =========================
ServiceFee__Percentage=10

# =========================
# Payout Config
# =========================
PayoutConfig__CronExpression=0 0 * * 1
PayoutConfig__HoldDays=7